#header-city {
    margin: 20px 0 10px;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    position: relative;
    color: #161E2E;
  }
  
  #header-temperature {
    font-weight: 700;
    font-size: 80px;
    line-height: 1;
    margin-left: 10px;
    color: #161E2E;
  }
  
  strong {
    color: #3C8999;
  }

  .weather-form {
    margin-top: 40px;
    padding-bottom: 30px; 
    border-bottom: 1px solid #f9f7fe;
  }

  .header-img {
    width: auto 52px;
    height: auto 52px;
    margin: -5px 0;
  }
  
  .col {
    width: min-content;
    margin: 0%;
  }

  .container {
    max-width: 760px;
    margin: 60px auto;
  }

  .temperature-container {
    margin-top: 30px;
  }

  .weather-info ul {
    margin: 0;
    padding: 0;
  }
  .weather-wrapper {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.08);
    padding: 40px;
  }
  
  .weather-wrapper li {
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 20px;
    list-style: none;
    color: #6B7280;
  }


  .btn {
    background: #8DE0F1;
    color: #374151;
    border: none;
  }

  .btn:hover {
    background: #C5EFF8;
    color: #374151;
  }

  .form-control {
    background: #F4F5F7;
    color: #6B7280;
    border: none;
  }

  .units {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    top: -42px;
  }

  a {
    color: #3C8999;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .temperature-container .active {
    color: #374151;
    cursor: default;
  }

  .weather-forecast {
    margin-top: 20px;
    text-align: center ;
  }

  .forecast-date {
    font-size: 16px;
    opacity: 0.5;
  }

  .forecast-temperature {
    font-size: 13px;
  }

  .forecast-temp-min {
    opacity: 0.5;
  }

 