#header-city {
    margin-left: 10px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    top: 5px;
  }
  
  #header-temperature {
    font-weight: 500;
    font-size: 45px;
    position: relative;
    top: 13px;
  }
  
  .weather-form {
    margin-top: 40px;
    margin-bottom: 40px; 
    border-bottom: 1px solid #f9f7fe;
  }

  .header-img {
    width: auto 52px;
    height: auto 52px;
    margin: 1px 0;
  }
  
  .col {
    width: min-content;
    margin: 0%;
  }

  .container {
    max-width: 540px;
    margin: 60px auto;
  }

  .weather-wrapper {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.08);
    padding: 40px;
  }

  .temperature-container {
    margin-top: 30px;
  }
  